/* @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;700&display=swap'); */
/* Font weight:: 400, 500, 700 */
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@400;600;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0 auto;
  border: 0;
  padding: 0;
}

:root {
  --font-family: 'Gemunu Libre', sans-serif;
  --bg-color: #141616;
  --primary-color: #0a8bd6;
  --secondary-color: #999fa3;
  --tertiary-color: rgb(7, 5, 5);
}

body {
  background-color: var(--bg-color);
}

html {
  scroll-behavior: smooth;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.inline-flex {
  display: inline-flex;
}

.error {
  color: #FF0000;
  display: none;
  margin-bottom: 10px;
  font-family: var(--font-family);
  font-weight: 500;
}

.error.display-error {
  display: block;
}

.footer {
  height: 200px;
  text-align: center;
  justify-content: center;
  padding: 60px;
}